openapi: 3.0.3
info:
  title: ZPL Engine API
  description: |
    Public HTTPS API for AI Neutrality Index (AIN) and related metrics.
    Computation runs on the server; clients send parameters only.
    Authentication: send your user key as `Authorization: Bearer <key>`. The engine returns HTTP 401 with `"Use: Bearer zpl_u_XXXXX"` on any other header — X-API-Key is NOT supported. All official clients (MCP, CLI, SDKs) use Bearer.

    **Optional telemetry (ADR 0002):** official clients send `X-ZPL-Client` and `X-ZPL-Client-Version` headers on authenticated calls so traffic can be attributed once the engine persists them. Values are documented under each operation; the engine ignores unknown slugs today.
  version: "1.0.3"
  contact:
    name: Zero Point Logic
    url: https://zeropointlogic.io

servers:
  - url: https://engine.zeropointlogic.io
    description: Production

security:
  - bearerAuth: []

paths:
  /health:
    get:
      summary: Engine health
      security: []
      operationId: getHealth
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /plans:
    get:
      summary: List pricing plans
      operationId: getPlans
      parameters:
        - $ref: "#/components/parameters/XZplClient"
        - $ref: "#/components/parameters/XZplClientVersion"
      responses:
        "200":
          description: Catalog
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlansWrapper"

  /compute:
    post:
      summary: Run AIN computation
      operationId: postCompute
      parameters:
        - $ref: "#/components/parameters/XZplClient"
        - $ref: "#/components/parameters/XZplClientVersion"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComputeRequest"
      responses:
        "200":
          description: Compute result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputeResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EngineError"
        "401":
          description: Invalid or missing API key
        "402":
          description: Quota exceeded
        "429":
          description: Rate limited

  /sweep:
    get:
      summary: Sweep bias values for fixed dimension
      operationId: getSweep
      parameters:
        - $ref: "#/components/parameters/XZplClient"
        - $ref: "#/components/parameters/XZplClientVersion"
        - name: d
          in: query
          required: true
          schema:
            type: integer
            minimum: 3
            maximum: 100
        - name: samples
          in: query
          required: false
          schema:
            type: integer
            minimum: 100
            maximum: 50000
      responses:
        "200":
          description: Sweep results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SweepResponse"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: zpl_u_<48 hex chars> (or zpl_u_mcp_/zpl_u_cli_ wizard-issued variants)

  parameters:
    XZplClient:
      name: X-ZPL-Client
      in: header
      required: false
      description: |
        Client family slug for attribution (ADR 0002). Examples: `sdk-typescript`, `sdk-python`, `mcp`, `cli`, `gpt-action`, `telegram-bot`, `gha`.
      schema:
        type: string
    XZplClientVersion:
      name: X-ZPL-Client-Version
      in: header
      required: false
      description: SemVer of the calling client (e.g. `1.0.2`).
      schema:
        type: string

  schemas:
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
          description: Engine health flag. Currently always `"ok"` when reachable.
        version:
          type: string
          example: "3.1.0"
      additionalProperties: true

    PlansWrapper:
      type: object
      properties:
        plans:
          type: array
          items:
            $ref: "#/components/schemas/PlanInfo"
      additionalProperties: true

    PlanInfo:
      type: object
      properties:
        name:
          type: string
        max_d:
          type: integer
        tokens_per_month:
          type: integer
        max_keys:
          type: integer
        price_usd:
          type: number
        unlimited:
          type: boolean
      additionalProperties: true

    ComputeRequest:
      type: object
      required: [d, bias]
      description: |
        The only body `POST /compute` accepts. There is **no `matrix`
        parameter** — `d` IS the matrix dimension. Clients that build a
        binary matrix derive `d` and `bias` from it before posting.
      properties:
        d:
          type: integer
          minimum: 3
          maximum: 100
          description: |
            Matrix dimension. The engine returns HTTP 400
            `"D must be between 3 and 100"` outside this range.
            Accepted aliases: `N`, `n`, `dimension`.
        bias:
          type: number
          format: double
          minimum: 0
          maximum: 1
        samples:
          type: integer
          minimum: 100
          maximum: 50000
          default: 1000

    ComputeResponse:
      type: object
      properties:
        d:
          type: integer
          minimum: 3
          maximum: 100
        bias:
          type: number
          format: double
          minimum: 0
          maximum: 1
        p_output:
          type: number
          format: double
          minimum: 0
          maximum: 1
          description: |
            `0.500` means perfect balance.
        ain:
          type: number
          format: double
          minimum: 0
          maximum: 1
          example: 0.932412
          description: |
            AI Neutrality Index on the 0.0 – 1.0 scale, 6 decimals.
            Display as a percentage with `(ain * 100).toFixed(2)`; do NOT
            round to an integer — that discards 4 of the 6 decimals and
            with them the reproducibility the value exists for. The
            range is never `0.1 – 99.9`.
        ain_status:
          type: string
          description: |
            AIN band — quality of the balance. A DIFFERENT field from
            `status`.
          enum:
            - CERTIFIED_NEUTRAL   # ain >= 0.96
            - HIGHLY_NEUTRAL      # ain >= 0.90
            - NEUTRAL             # ain >= 0.80
            - MODERATE_BIAS       # ain >= 0.60
            - SIGNIFICANT_BIAS    # ain >= 0.40
            - HIGH_BIAS           # ain <  0.40
        deviation:
          type: number
          format: double
          minimum: 0
          maximum: 0.5
        status:
          type: string
          description: |
            Stability regime. A DIFFERENT field from `ain_status`.
            Plain `INHIBITED` is not a value.
          enum: [STABLE, ACTIVE, INHIBITED_HIGH, INHIBITED_LOW]
        samples:
          type: integer
        tokens_used:
          type: integer
        compute_ms:
          type: number
      additionalProperties: true

    SweepResponse:
      type: object
      properties:
        d:
          type: integer
        samples:
          type: integer
        results:
          type: array
          items:
            $ref: "#/components/schemas/SweepRow"
        total_tokens:
          type: integer
        compute_ms:
          type: number
      additionalProperties: true

    SweepRow:
      type: object
      properties:
        bias:
          type: number
          format: double
          minimum: 0
          maximum: 1
        p_output:
          type: number
          format: double
          minimum: 0
          maximum: 1
        ain:
          type: number
          format: double
          minimum: 0
          maximum: 1
          description: Float 0.0 – 1.0, 6 decimals. Do not round.
        deviation:
          type: number
          format: double
          minimum: 0
          maximum: 0.5
        status:
          type: string
          enum: [STABLE, ACTIVE, INHIBITED_HIGH, INHIBITED_LOW]

    EngineError:
      type: object
      properties:
        error:
          type: string
        code:
          type: integer
